version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  redis:
    image: redis:alpine
    container_name: sentinel_redis
    ports:
      - "6379:6379"
  
  pubsub:
    image: gcr.io/google.com/cloudsdktool/google-cloud-cli:emulators
    container_name: switchboard_pubsub
    ports:
      - "8085:8085"
    command: >
      gcloud beta emulators pubsub start
      --project=test-project
      --host-port=0.0.0.0:8085

volumes:
  postgres_data:
  

  


    